[Service]
Environment="VESTIGE_JAVA={{ java_home }}/bin/java"
Environment="VESTIGE_ADMIN_WEB_ENABLED=false"
Environment="VESTIGE_ADMIN_SSH_ENABLED=true"
Environment="VESTIGE_ADMIN_SSH_HOST=127.0.0.1"
Environment="VESTIGE_ADMIN_SSH_PORT=8422"
